.body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/favicon.png");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
  text-shadow: 0 0 2rem white;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 0 3rem 0;
  font-size: 2vw;
  font-weight: bold;
}

.title {
  font-size: 10vw;
  font-family: 'Permanent Marker', sans-serif;
  word-break: break-all;
  margin: 0;
}

.spacetape-form-link {
  margin: 1rem;
  padding: 3rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: purple;
  color: white;
  text-decoration: none;
  font-size: 2vw;
  font-family: 'Permanent Marker', sans-serif;
  box-shadow: 10px 5px 5px red;
}

.spacetape-form-link:hover {
  position: relative;
  top: 5px;
  left: 10px;
  box-shadow: none;
  margin-top: 1rem;
}
