.body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

.title {
  font-size: 11vw;
  font-family: 'Permanent Marker', sans-serif;
  word-break: break-all;
  margin: 0;
}

.spacetape-form-link {
  margin: 1rem;
  padding: 3rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Permanent Marker', sans-serif;
  box-shadow: 10px 5px 5px red;
}

.spacetape-form-link:hover {
  position: relative;
  top: 5px;
  left: 10px;
  box-shadow: none;
  margin-top: 1rem;
}
